{% extends '::basePublic.html.twig' %}

{% block title 'Registration' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/person/css/security.css') }}">
{% endblock %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <section class="securityForm">
        <article>

            <h1>Registration Complete</h1>

            <p>Your account has been successfully registered.</p>

            <p>An email has been sent to the email address you provided. To activate your account, please click the activation link in this email.</p>

        </article>
    </section>
{% endblock %}